name: Create PR from develop to master

on:
  push:
    branches:
      - develop

jobs:
  gitPrRelease:
    name: git-pr-release
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@master
      with:
        fetch-depth: 0

    - name: Set up Ruby 3.1
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 3.1
      
    - name: Execute git-pr-release
      env:
        GIT_PR_RELEASE_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        GIT_PR_RELEASE_BRANCH_PRODUCTION: master
        GIT_PR_RELEASE_BRANCH_STAGING: develop
        GIT_PR_RELEASE_TEMPLATE: .git-pr-release-template
      run: |
        gem install git-pr-release -v "2.1.1"
        git remote set-url origin "https://${GITHUB_ACTOR}:${GIT_PR_RELEASE_TOKEN}@github.com/${GITHUB_REPOSITORY}.git"
        git-pr-release || echo "Done."
